* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
}

body{
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card {
    position: relative;
}

.client {
    background-color: rgba(169, 169, 169, 0.7);
    position: absolute;
    bottom: 4px;
    font-size: 8px;
    color: white;
    padding: 0.5rem 0.25rem;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

i{
    padding: 0.5rem;
    float: none;
}

.site_footer {
    background-color: black;
    color: white;
    position: fixed;
    margin: 0;
    box-sizing: border-box;
}

.container_ooter{
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.side_right{
    display: flex;
    
}

.d-flex{
    display: flex;
}


/*






*/