* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site_header{
    position: fixed;
    height: 20px;
    width: 100%;
    display: contents;
    text-align: end;
}

.header_btn{
    background-color: grey;
    color: white;
    border-radius: 0.5rem;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card {
    position: relative;
}

main{
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 2rem;
}

.client {
    background-color: rgba(169, 169, 169, 0.7);
    position: absolute;
    bottom: 4px;
    font-size: 8px;
    color: white;
    padding: 0.5rem 0.25rem;
}

.container {
    width: 90%;
    max-width: 1800px;
    margin: auto;
}
i{
    padding: 0.5rem;
    text-align: center;
}

.site_footer {
    background-color: black;
    color: white;
    position: fixed;
    height: 80px;
    justify-content: space-between;
    width: 100%;

}

.container_ooter{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.side_right{
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

.d-flex{
    display: flex;
    flex-grow: 1;
}

.btn{
    color: red;
    text-align: center;
    height: 100%;
    padding: 1.5rem;
}

.middle{
    flex-grow: 3;
    justify-content: center;
    gap: 1rem;
}

.left{
    justify-content: end;
    align-items: center;

}

:hover.btn{
    background-color: gray;
}
/*






*/